@import url('https://fonts.googleapis.com/css?family=Roboto:700');
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .5s;
        
}
nav.black{
    background: rgba(0,0,0,.8);
    height: 80px;
    padding: 10px,50px;
}
nav .logo{
    float: left;
}
nav .logo img{
    height: 80px;
    transition: .5s;
    
}
nav.black.logo img{
    height: :60px;
    
}
nav ul {
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
    
}
nav ul li {
    list-style: none;
}
nav ul li a{
    list-style; 80px;
    color: #262626;
    padding: 5px 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s; 
}
nav.black ul li a{
    color: #fff;
    line-height: 60px;
}
nav ul li a.active,
nav ul li a:hover{
    color: #fff;
    background: blue;
}
section.sec1{
    width: 100%;
    height: 100vh;
     background: url("travel.jpg");
    background-size: cover;
    
}
section.sec1 h1{
    position: absolute;
    font-size: 50px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    
}
section.sec1 h4{
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
section.sec1 button {
  padding: 20px 50px;
  margin: 0;
  position: relative;  
  border: none;
  border-radius: 15px;
  outline: 0;  
  display: block;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);  
  color: white;
  background-color: royalblue;
  cursor: pointer;
}
section.sec1 button a{
    text-decoration: none;
    color: white;
    
}
section.sec1 button:hover,
section.sec1 button a:hover{
    background-color: white;
    color: royalblue;
}
section.sec3{
    width: 100%;
    height: 100vh;
     background: url("tropical_beach_paradise_5k-2560x1600.png");
    background-size: cover;
    
}
section.sec4{
    position: relative;
    width: 100%;
    height: 65vh;
    background: url("rating.png");
    background-size: cover;
    
}
section.content{
   padding: 100px;
    
}
section.content h1{
    margin: 0;
    padding: 0;
    font-size: 2em;
}
section.content p{
    margin: 20px 0 0;
    padding: 0;
    font-size: 1.1em;
}
* {
    box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
footer{
    margin: 5px;
    padding: 10px;
    background-color: #26A9F4;
}
